
body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 .reveal p {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    text-transform: inherit;
    text-align: left;
    color: #000066;
}

.reveal .slides {
    text-align: left;	
}

.reveal .slides > section.present,
.reveal .slides > section > section.present
{
    padding: 20px;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    margin: 0.5em 0 0.25em 0;
}

.reveal ul, .reveal ol {
	display: block;
}
.reveal li {
    font-size: 80%;
}
.reveal h1 {
    font-size: 1.8em;
}

.reveal h2 {
    font-size: 1.4em;
}

.reveal h3 {
    font-size: 1.1em;
}

.reveal h4 {
    font-size: 1em;
}

.reveal h5 {
    font-size: 0.9em;
}

.reveal h6 {
    font-size: 0.8em;
}
.reveal pre code {
    max-height: 500px;
}

.reveal section img {
	border: none;
	box-shadow: none;
}